@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#scotchy-nav {
  display: flex;
  flex: 1;
  height: 70px !important;
  min-height: 0;
  padding-right: 0;
  background: #06050c;
  font-family: lato;
  line-height: 1;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  font-size: 16px;
  box-shadow: 5px 2px 3px 5px hsla(0, 0%, 4%, 0.1),
    0 0 0 1px hsla(0, 0%, 4%, 0.1);
}

#scotchy-nav .navbar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .is-dark {
  background-color: #363636;
  color: #f5f5f5;
}

.navbar {
  background-color: #fff;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
}

#scotchy-nav .navbar-item {
  background: red;
  border-radius: 5px;
  position: relative;
  height: 70px !important;
  line-height: 70px;
  left: 15px;
  top: 18px;
  z-index: 999;
  padding: 5px;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  transition: all ease 700ms;
}
#scotchy-nav .navbar-item:hover {
  box-shadow: 8px 10px 15px -5px rgba(0, 0, 0, 0.56);
  transform: scale(1.1);
}

.navbar-item a {
  cursor: pointer;
  text-decoration: none;
  color: #f5f5f5;
}

nav ul {
  display: flex;
  width: 90%;
}

nav ul li {
  list-style-type: none;
  line-height: 45px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 100px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(235, 243, 235);
  font-size: 1rem;
  padding-bottom: 5px;
}

nav ul li:hover a {
  opacity: 0.695;
}

#github-icon {
  width: 40px;
  margin-left: auto;
}

#github-icon:hover a {
  color: #dd1717;
}

#slack-icon {
  width: 40px;
}

#slack-icon:hover a {
  color: #49f390;
}

#twitter-icon {
  width: 40px;
  margin-right: 20px;
}

#twitter-icon:hover a {
  color: #9cbcec;
}

.active {
  margin-top: 0;
  color: rgba(113, 113, 184, 0.479);
  border-bottom: 3px solid yellow;
  transition: all ease-in-out 500ms;
}
